html,
body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto","Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    
    background-color: #849d8f;
}

a {
    color: inherit;
}

button {
    font: inherit;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;

    background-color: #e84d37;
    border: none;
    border-radius: 20px;
}

.btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    background-color: #e84d37;
    border: none;
    border-radius: 20px;
}

.catalog-page h1 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.main-menu {
    margin: 0;
    padding: 0;
    
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    
    list-style: none;
}

.main-menu > li > a:hover,
.main-menu > li > a:focus {    
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    
    background-color: #f7f6f3;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.main-menu > li > a:active {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    
    background-color: #ededed;
    border-radius: 10px;
    box-shadow: inset 0 1px 2px 0 #696969;
}

.main-menu li.main-menu-current > a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
    
    background-color: #d07058;
    border-radius: 10px;
}

.main-menu .sub-menu {
    margin: 0;
    padding: 0;
    
    background-color: #f8f7f4;
    border-radius: 5px;
}

.main-menu .sub-menu a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    text-decoration: none;
}

.main-menu .sub-menu .brand-new {
    font-weight: 700;
}

.main-menu .sub-menu a:hover,
.main-menu .sub-menu a:focus {
    background-color: #fbded7;
}

.main-menu .sub-menu a:active {
    background-color: #f6b5a5;
}

.main-menu li.sub-menu-current a { 
    color: #ffffff;
    
    background-color: #d07058;
}

.user-navigation {
    background-color: #a1b4a9;
}

.user-navigation a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
}

.user-navigation:hover,
.user-navigation:focus {
    color: #323232;
    
    background-color: #f8f7f4;
}

.user-navigation input {
    font: inherit;
    
    background-color: #ffffff;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.user-navigation input:hover {
    outline: none;
    
    border: 2px solid rgba(154, 154, 154, 0.52);
}

.user-navigation input:focus {
    outline: none;
    
    border: 2px solid rgba(46, 136, 228, 0.52);
}

.user-navigation input:active {
    border: 1px solid rdba(178, 178, 178, 0.52);
}

.user-navigation .login-form a:hover,
.user-navigation .login-form a:focus,
.user-navigation .login-form a:active,
.user-navigation .cart-order td a:hover,
.user-navigation .cart-order td a:focus,
.user-navigation .cart-order td a:active {
    color: #e84d37;
}

.user-navigation .login-form,
.user-navigation .cart-order {
    background-color: #f8f7f4;
}

.user-navigation .login-form p a {
    font-size: 13px;
    line-height: 24px;
    color: #323232;
    text-decoration: underline;
}

.user-navigation .cart-order tbody,
.user-navigation .cart-order table a {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
}

.user-navigation .cart-order tfoot {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color: #323232;
}

.user-navigation .btn-order {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    background-color: #e84d37;
    border: none;
    border-radius: 20px;
}

.main-navigation p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.main-navigation p a {
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
}

.bonus div:first-of-type {
    width: 560px;
    
    background-image: url("../img/bonus-raspberry.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.bonus div:last-of-type {
    width: 560px;
    
    background-image: url("../img/bonus-chocolate.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.bonus-item h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.bonus-item p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.product-item {
    text-align: center;
}

.product-item .product-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.product-item .product-price span {
    font-size: 30px;
}

.product-item img {
    border: none;
    border-radius: 50%;
}

.product-item a {
    font-weight: 500;
}

.product-item a:hover,
.product-item a:focus,
.product-item a:active {
    color: #ffbc9e;
}

.features {
    width: 1146px;
    
    background-color: #eee3cc;
    background-image: url("../img/features-bg.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 15px;
}

.features h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232; 
}

.features p {
    color: #323232;
}

.from-blog {
    width: 560px;
    
    background-color: #ffffff;
    background-image: url("/img/blog-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.from-blog h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
}

.from-blog a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
}

.subscription {
    width: 560px;
    
    background-color: #f8f7f4;
    background-image: url("../img/subscription-bg.svg");
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.subscription p {
    color: #5a5a5a;
}

.subscription input {
    font: inherit;
    
    background-color: #ffffff;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.subscription input:hover {
    border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscription input:focus {
    outline: none;
    
    border: 2px solid rgba(46, 136, 228, 0.52);
}

.subscription input:active {
    border: 1px solid rdba(178, 178, 178, 0.52);
}

.contacts-info {
    width: 305px;

    background-color: #fefefe;
    border-radius: 15px;
}

.contacts p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #323232;
}

.contacts .contacts-address {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.contacts .contacts-phone {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-decoration: none;
}

.feedback {
    width: 480px;
    
    background-color: #f8f7f4;
    border-radius: 15px;
}

.feedback b {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
}

.feedback input,
.feedback textarea {
    font: inherit;
    
    background-color: #ffffff;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.feedback input:hover,
.feedback textarea:hover {
    border: 2px solid rgba(154, 154, 154, 0.52);
} 

.feedback input:focus,
.feedback textarea:focus {
    outline: none;
    
    border: 2px solid rgba(46, 136, 228, 0.52);
}

.feedback input:active,
.feedback textarea:active {
    border: 1px solid rdba(178, 178, 178, 0.52);
}


.main-footer ul {
    margin: 0;
    padding: 0;
    
    font-size: 16px;
    line-height: 18px;
    
    list-style: none;
}

.footer-navigation {
    text-align: center;
}