html,
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    background-color: #849d8f;
}

body > input[type="radio"] {
    display: none;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    font: inherit;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-image: -webkit-linear-gradient(left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -o-linear-gradient(left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: linear-gradient(to right, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    border: none;
    border-radius: 25px;
}

.btn {
    display: inline-block;
    max-width: 250px;
    padding: 10px 22px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-image: -webkit-linear-gradient(left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -o-linear-gradient(left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: linear-gradient(to right, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    border: none;
    border-radius: 25px;
}

.site-wrapper {
    min-width: 1200px;
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/promo-slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/promo-slide-3.png");
}

.container {
    width: 1146px;
    margin: 0 auto;
}

.main-header {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.catalog-page .main-header {
    margin-bottom: 0;
}

.main-navigation {
    display: flex;
    width: 100%;
}

.main-header-logo {
    width: 154px;
    height: 64px;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 0;
    padding: 0;
    padding-top: 13px;
    padding-left: 10px;
    list-style: none;
}

.main-menu>li {
    position: relative;
}

.main-menu>li>a {
    display: block;
    margin: 7px 14px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

li.main-menu-item>a:hover,
li.main-menu-item>a:focus {
    outline: none;
    margin: 0;
    padding: 7px 14px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    background-color: #f7f6f3;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px #ffffff;
}

li.main-menu-item>a:active {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    background-color: #ededed;
    border-radius: 20px;
    box-shadow: inset 0 1px 2px 0 #696969;
}

li.main-menu-current>a {
    margin: 0;
    padding: 7px 14px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
    background-color: #d07058;
    border: none;
    border-radius: 20px;
}

.sub-menu {
    position: absolute;
    top: 38px;
    left: -7px;
    z-index: 10;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f8f7f4;
    border-radius: 5px;
    overflow: hidden;
}

.main-menu>li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    width: 144px;
/*    padding: 6px 21px;*/
}

.sub-menu a {
    display: block;
    padding: 8px 21px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    text-decoration: none;
}

.brand-new a {
    margin: 0;
    padding: 11px 22px;;
/*    padding-bottom: 10px;*/
    font-weight: 700;
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
}

.sub-menu li:hover,
.sub-menu li:focus {
    background-color: #fbded7;
}

.sub-menu li:active {
    background-color: #f6b5a5;
}

.sub-menu-current {
    background-color: #d07058;
}

.sub-menu-current a {
    color: #ffffff;
}

.user-navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 295px;
    margin-left: auto;
}

.user-navigation {
    position: relative;
    padding-bottom: 3px;
}

.search {
    display: block;
    width: 31px;
    height: 31px;
    margin: 0;
    margin-top: 13px;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url("../img/icon-search.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.search:hover,
.search:focus {
    outline: none;
    background-color: #f8f7f4;
    background-image: url("../img/icon-search-hover.svg");
}

.search-form {
    position: absolute;
    top: 48px;
    right: 0;
    z-index: 5; 
    display: none;
    min-width: 341px;
    min-height: 84px;
    margin: 0;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-form:hover {
    display: block;
}

.user-navigation:hover .search-form {
    display: block;
}

.input-label {
    position: absolute;
    z-index: -2;
    left: 35px;
    transform: translateY(-63px);
    font-size: 11px;
    line-height: 13px;
}

.search-form input[type="search"] {
    box-sizing: border-box;
    width: 310px;
    margin: 20px 15px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    background-color: #ffffff;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
}

.label-box {
    position: relative;
}

.label-input {
    position: absolute;
    top: -34px;
    left: 14px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
    transition: 2s ease all;
    pointer-events: none;
}

.label-input-search {
    top: -56px;
    left: 30px;
    font-size: 14px;
    line-height: 24px;
}

.label-textarea {
    top: -152px;
    left: 14px;
}

input[type="search"]:focus ~ .label-box .label-input,
input[type="text"]:focus ~ .label-box .label-input,
input[type="email"]:focus ~ .label-box .label-input,
input[type="password"]:focus ~ .label-box .label-input,
textarea:focus ~ .label-box .label-textarea {
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
    transform: translateY(-24px);
}

/*
input[type="search"]:valid ~ .label-box .label-input {
    font-size: 11px;
    line-height: 13px;
    color: #999999;
    transform: translateY(-24px);
}

.modal-feedback input:valid ~ .label-box .label-input,
.modal-feedback textarea:valid ~ .label-box .label-textarea{
    font-size: 11px;
    line-height: 13px;
    color: #999999;
    transform: translateY(-24px);
}
*/

.user-navigation input:hover {
    outline: none;
    border: 1px solid rgba(154, 154, 154, 0.52);
    box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.user-navigation input:focus {
    outline: none;
    border: 1px solid rgba(46, 136, 228, 0.52);
    box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);
}

.user-navigation input:valid {
    border: 1px solid rgba(178, 178, 178, 0.52);
}

.login-link {
    display: block;
    max-width: 92px;
    margin-top: 13px;
    margin-left: 10px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 43px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url("../img/icon-login.svg");
    background-position: 16px 5px;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.login-link:hover,
.login-link:focus {
    outline: none;
    color: #323232;
    background-color: #f8f7f4;
    background-image: url("../img/icon-login-hover.svg");
}

.login-form {
    position: absolute;
    top: 48px;
    right: 0;
    z-index: 5;
    display: none;
    margin: 0;
    padding: 20px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.login-form:hover {
    display: block;
}

.user-navigation:hover .login-form {
    display: block;
}

.login-form div {
    margin: 0;
    margin-bottom: 17px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    box-sizing: border-box;
    width: 240px;
    padding: 10px 14px;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    background-color: #ffffff;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
}

.btn-login {
    display: inline-block;
    width: 100px;
    margin-top: 3px;
    margin-right: 17px;
    vertical-align: top;
}

.renew,
.registration {
    font-size: 13px;
    line-height: 24px;
    color: #323232;
    text-decoration: underline;
}

.login-help {
    display: inline-block;
    width: 119px;
    margin: 0;
    margin-bottom: 0;
    text-align: left;
}

.cart-link-empty,
.cart-link-order {
    display: block;
    min-width: 55px;
    margin-top: 13px;
    margin-left: 10px;
    padding-top: 8px;
    padding-right: 18px;
    padding-bottom: 8px;
    padding-left: 45px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url("../img/icon-cart-index.svg");
    background-position: 16px 6px;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.cart-link-order {
    color: #323232;
    background-color: #f8f7f4;
    background-image: url("../img/icon-cart-catalog.svg");
}

.cart-link-order:hover {
    display: block;
}

.user-navigation:hover .cart-order {
    display: block;
}


.cart-order {
    position: absolute;
    top: 46px;
    right: 0;
    z-index: 5;
    display: none;
    box-sizing: border-box;
    width: 540px;
    margin: 0;
    padding: 0 11px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.cart-table {
    border-collapse: collapse;
}

.cart-table a {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    text-decoration: none;
}

.cart-table-row {
    height: 65px;
    font-size: 13px;
    text-align: center;
}

.cart-table-cell-col1 {
/*    padding: 28px 3px;*/
}

.btn-cart-remove {
    display: block;
    width: 14px;
    height: 14px;
    border: none;
    background-color: #f8f7f4;
    background-image: url("../img/cross-small.svg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cart-table-cell-col2 {
    width: 33px;
}

.cart-table-cell-col2 img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.cart-table-cell-col3 {
    width: 240px;
/*    padding-left: 1px;*/
    text-align: left;
}

.cart-table-cell-col4 {
    width: 70px;
    padding-left: 24px;
    text-align: right;
}

.cart-table-cell-col5 {
    width: 70px;
    color: #999999;
}

.cart-table-cell-col6 {
    width: 70px;
    padding-left: 24px;
}

.cart-order tfoot {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color: #323232;
}

.btn-order {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: #e84d37;
    border: none;
    border-radius: 20px;
}

.header-contacts {
    width: 170px;
    height: 40px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;
}

.header-contacts a {
    display: block;
    margin-top: 3px;
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
}

.catalog-header-wrapper {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs li {
    position: relative;
}

.breadcrumbs li::after {
    content: "»";
    position: absolute;
    top: 3px;
    right: 6px;
    border-bottom: none;
}

.breadcrumbs li:last-child::after {
    display: none;
}

.breadcrumbs a {
    margin-right: 20px;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs-current a {
    border-bottom: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
}

.breadcrumbs-current a:hover,
.breadcrumbs-current a:focus,
.breadcrumbs-current a:active {
    color: #ffffff;
}

.promo-slider {
    position: relative;
    margin-bottom: 41px;
    padding-top: 270px;
    text-align: center;
}

.slide {
    display: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60.35px;
    font-weight: 700;
}

.btn-slide {
    display: inline-block;
    padding: 10px 40px;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    vertical-align: top;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn-slide:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-slide:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.promo-slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.promo-slider-controls label:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #ffffff;
}

.promo-slider-controls label:active {
    background-color: #ffffff;
}

.promo-slider-controls {
    position: absolute;
    bottom: 22px;
    left: 0;
    z-index: 20;
    font-size: 0;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/promo-slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/promo-slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/promo-slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

.bonus {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.bonus-item {
    display: flex;
    flex-direction: column;
    width: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.bonus div:first-of-type {
    background-color: #81182e;
    background-image: url("../img/bonus-raspberry.jpg");
}

.bonus div:last-of-type {
    background-color: #493024;
    background-image: url("../img/bonus-chocolate.jpg");
}

.bonus-item h3 {
    margin: 0;
    margin-top: 14px;
    margin-bottom: 16px;
    margin-left: 18px;
    padding: 0;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.bonus-item p {
    width: 515px;
    margin: 0;
    margin-bottom: 44px;
    margin-left: 19px;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.btn-bonus {
    margin: 0;
    margin-right: 21px;
    margin-bottom: 26px;
    margin-left: auto;
}

.hits {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 39px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 42px;
}

.product-item {
    position: relative;
    margin-right: 26px;
    width: 267px;
    text-align: center;
}

.catalog-page .product-item {
    margin-bottom: 39px;
}

.product-item:nth-of-type(4n) {
    margin-right: 0;
}

.product-item .round-shape {
    position: relative;
    margin: 0;
    margin-bottom: 7px;
    padding: 0;
}

.product-item-hits::before {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    width: 61px;
    height: 61px;
    background-image: url("../img/hits-label.jpg");
    border-radius: 50%;
}

.product-item .product-price {
    position: absolute;
    top: 209px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-price span {
    font-size: 30px;
}

.product-item img {
    border: none;
    border-radius: 50%;
}

.product-item a {
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}

.product-item a:hover,
.product-item a:focus,
.product-item a:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.product-preview-hover {
    display: none;
    position: absolute;
    top: -7px;
    left: -13px;
    width: 293px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.product-item:hover .product-preview-hover {
    display: block;
    z-index: 1;
}

.product-item .btn-preview {
    display: block;
    margin-top: 340px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

.features {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 40px;
    background-color: #eee3cc;
    background-image: url("../img/features-bg.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 15px;
}

.features h3 {
    margin: 0;
    margin-top: 22px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
}

.features-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-around;
    align-content: flex-start;
    margin-bottom: 19px;
}

.features p {
    box-sizing: border-box;
    width: 573px;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    padding-top: 17px;
    padding-right: 13px;
    padding-left: 77px;
    color: #323232;
    background-repeat: no-repeat;
}

.features p:first-child {
    background-image: url("../img/icon-features-icecream.svg");
    background-position: 20px 5px;
}

.features p:nth-child(2) {
    padding-left: 70px;
    background-image: url("../img/icon-features-cow.svg");
    background-position: 13px 5px;
}

.features p:nth-child(3) {
    background-image: url("../img/icon-features-leaf.svg");
    background-position: 20px 5px;
}

.features p:nth-child(4) {
    padding-right: 20px;
    padding-left: 70px;
    background-image: url("../img/icon-features-thermometer.svg");
    background-position: 13px 5px;
}

.column-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.from-blog {
    width: 560px;
    background-color: #ffffff;
    background-image: url("../img/blog-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.from-blog h2 {
    margin: 0;
    margin-top: 23px;
    margin-bottom: 4px;
    margin-left: 19px;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
}

.from-blog a {
    display: block;
    width: 290px;
    margin: 0;
    margin-bottom: 81px;
    margin-left: 19px;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
}

.subscription {
    width: 560px;
    background-color: #f8f7f4;
    background-image: url("../img/subscription-bg.jpg");
    background-position: center 2px;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.subscription p {
    width: 510px;
    margin: 0;
    margin-top: 34px;
    margin-bottom: 34px;
    margin-left: 25px;
    padding: 0;
    color: #5a5a5a;
}

.subscription input {
    box-sizing: border-box;
    width: 369px;
    margin: 0;
    margin-right: 7px;
    margin-bottom: 35px;
    margin-left: 25px;
    padding: 10px 13px;
    font: inherit;
    background-color: #ffffff;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
}

.subscription input:hover {
    border: 1px solid rgba(154, 154, 154, 0.52);
    box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.subscription input:focus {
    outline: none;
    border: 1px solid rgba(46, 136, 228, 0.52);
    box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);
}

.subscription input:valid {
    border: 1px solid rgba(178, 178, 178, 0.52);
}

.btn-subscription {
    width: 129px;
}

.contacts {
    position: relative;
    height: 430px;
}

.map {
    position: relative;
}

.map iframe {
    position: absolute;
    left: 0;
    z-index: 1;
    border: 0;
}

.map img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
}

.contacts-info-wrapper {
    position: relative;
    z-index: 2;
}

.contacts-info {
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 254px;
    padding: 29px 24px;
    background-color: #fefefe;
    border-radius: 15px;
}

.info {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #323232;
}

.info-address {
    width: 155px;
}

.contacts-address {
    display: block;
    width: 225px;
    margin-bottom: 19px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
}

.info-phone {
    margin-bottom: 3px;
}

.contacts-phone {
    display: block;
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
    text-decoration: none;
}

.info-hours {
    margin-bottom: 26px;
}

.catalog-page h1 {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 28px;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.filters {
    margin-bottom: 22px;
}

.filters-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    width: 880px;
}

.filters fieldset {
    margin: 0;
    margin-right: 16px;
    margin-bottom: 17px;
    padding: 0;
    border: none;
}

.filters legend {
    margin-bottom: 5px;
    padding-left: 17px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.filters-select-sort {
    position: relative;
    box-sizing: border-box;
    width: 193px;
    height: 36px;
    padding: 0 16px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: #ffffff;
    background-image: url("../img/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: 170px center;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.price-range {
    position: relative;
    box-sizing: border-box;
    width: 218px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.price-slide {
    position: absolute;
    top: 17px;
    left: 23px;
    height: 4px;
    width: 176px;
    background-color: rgba(255, 255, 255, 0.5);
}

.price-pointer {
    position: absolute;
    top: 17px;
    left: 46px;
    z-index: 1;
    width: 98px;
    height: 4px;
    background-color: #f8f7f4;
}

.pointer-left {
    content: "";
    position: absolute;
    top: -8px;
    left: -10px;
    z-index: 2;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: #acacac;
    border: 8px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.pointer-left:hover {
    width: 22px;
    height: 22px;
    top: -9px;
    left: -11px;
}

.pointer-right {
    content: "";
    position: absolute;
    top: -8px;
    right: -10px;
    z-index: 2;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: #acacac;
    border: 8px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

..pointer-right {
    width: 22px;
    height: 22px;
    top: -9px;
    right: -11px;
}

.filters ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.filters-radio {
    position: relative;
    padding-right: 19px;
    padding-left: 31px;
    cursor: pointer;
}

.filters-radio input[type="radio"] + .radio-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 4px solid #ffffff;
    border-radius: 50%;
}

.filters-radio input[type="radio"]:focus + .radio-indicator {
    border-color: #ffffff;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.filters-radio input[type="radio"]:checked + .radio-indicator {
    border: none;
}

.filters-radio input[type="radio"]:checked + .radio-indicator::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url(../img/filters-radio-on.svg);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filters-fillings ul {
    width: 694px;
}

.filters-checkbox {
    position: relative;
    padding-right: 20px;
    padding-left: 31px;
    cursor: pointer;
}

.filters-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.filters-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #ffffff;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.filters-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
    border: none;
}

.filters-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 20px;
    background-image: url(../img/filters-checkbox-on.svg);
    background-size: contain;
    background-position: 0 1px;
    background-repeat: no-repeat;
}

.btn-filters {
    display: block;
    box-sizing: border-box;
    width: 144px;
    margin-bottom: 18px;
    padding: 7px 14px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: none;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.pagination-list {
    display: flex;
    flex: 0 0 25px;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 190px;
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
    list-style: none;
}

.pagination-item {
    width: 25px;
    height: 25px;
    margin-right: 3px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item-current {
    background-color: #ffffff;
}

.pagination-item a {
    line-height: 26px;
    color: #ffffff;
    text-decoration: none;
}

.pagination-item-current a {
    color: #323232;
}

.pagination-item:hover,
.pagination-item:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:active {
    background-color: rgba(255, 255, 255, 1);
}

.pagination-item a:active {
    color: #323232;
}

.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #323232;
}

.main-footer {
    display: flex;
    flex: 0 0 267px;
    justify-content: space-between;
    padding-top: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    margin-top: 17px;
    margin-left: 2px;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
}

.btn-social {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 13px;
/*
    padding-top: 1px;
    padding-left: 1px;
*/
    color: rgba(255, 255, 255, 0.8);
    background-position: 2px 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%
}

.footer-navigation {
    width: 375px;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    padding-left: 62px;
    list-style: none;
    text-align: left;
}

.footer-navigation li {
    display: inline-block;
    min-width: 120px;
    margin: 0;
    margin-right: 20px;
    padding: 0;
}

.footer-navigation a {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-navigation a:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255,188,158,.2);
}

.link-with-love {
    position: relative;
    font-weight: 700;
}

.link-with-love::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -21px;
    width: 15px;
    height: 15px;
    background-image: url("../img/heart.svg");
    background-position: top left;
    background-repeat: no-repeat;
}

.copyright-wrapper {
    margin-top: -4px;
    margin-right: 2px;
    font-size: 12px;
    line-height: 18px;
}

.copyright-wrapper p {
    margin: 0;
    padding: 0;
}

.copyright-wrapper a {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-wrapper a:hover,
.copyright-wrapper a:focus,
.copyright-wrapper a:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255,188,158,.2);
}

.modal-feedback {
    position: fixed;
    top: 340px;
    left: 50%;
    z-index: 3;
    display: none;
    width: 427px;
    margin-left: -240px;
    padding: 16px 26px 16px 24px;
    background-color: #f8f7f4;
    border-radius: 10px;
}

.modal-feedback b {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
}

.feedback-close {
    position: absolute;
    top: 21px;
    right: 25px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    cursor: pointer;
}

.feedback-close::before,
.feedback-close::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: #323232;
}

.feedback-close::before {
    transform: rotate(45deg);
}

.feedback-close::after {
    transform: rotate(-45deg);
}

.modal-feedback input,
.modal-feedback textarea {
    box-sizing: border-box;
    margin-top: 21px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
    background-color: #ffffff;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.modal-feedback input {
    width: 267px;
    min-height: 43px;
    margin-right: 44px;
    padding-left: 15px;
}

.modal-feedback textarea {
    box-sizing: border-box;
    width: 428px;
    height: 155px;
    padding-left: 15px;
    padding-top: 15px;
    border: 1px solid rgba(178,178,178,.5);
    border-radius: 5px;
    
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
    border: 1px solid rgba(154, 154, 154, 0.52);
    box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
    outline: none;
    border: 1px solid rgba(46, 136, 228, 0.52);
    box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);
}

.modal-feedback input:valid,
.modal-feedback textarea:valid {
    border: 1px solid rgba(178, 178, 178, 0.52);
}

.btn-modal {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 292px;
    padding: 7px 23px;
    padding-bottom: 13px;
}